header {
  background: black;
  color: white;
  padding-top: 1em;
}
header .logo {
  font-size: 20px;
  margin: 1em 0;
}
.login input[type=submit], .login a {
  display: inline-block;
}

#myModal, .reveal-modal.open{
  border-radius: 3px;
  width: 40em;
  // // margin-top: 78%;
  // left: 38%;
  margin: 132px 0px 0px -250px;
  border: 1px solid black;
}

.panel{
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 3px;
}

.sign-up{
  width: 65%;
  margin: 0 auto;
}

#sign-up{
  margin-left: 84px;
  font-size: 16px;
  background: black;
  border-radius: 3px;
}

.footer {
  // @include panel;
  width: 100%;
  height: 4em;
  background: black;
  margin: 0;
  position: fixed;
  bottom: 0;
  font-size: 16px;
}

.footer a{
  color: white;
}

.orbit-container{
  width: 70%;
  margin: 0 auto;
}

.example-orbit, img{
  width: 100%;
  height: 50%;
}

.buttons{
  text-align: right;
}

.button.tiny{
  background-color: #f6c705;
  padding-bottom: 9px;
  padding-top: 11px;
  border-radius: 3px;
}

  .button.tiny:hover{
    background-color: #666;
  }

.panel{
  background-color: #f6c70d;
}



