<div class="footer">
   <div class="large-12 columns">
     <hr>
     <div class="row">
       <div class="large-4 columns">
         <a href="#"><strong>ABOUT</strong></a>
       </div>
       <div class="large-4 columns">
         <a href="#"><strong>CONTACT</strong></a>
       </div>
       <div class="large-4 columns">
          <a href="#"><strong>PARTNER WITH US</strong></a>
       </div>
     </div>
   </div>
 </footer>
