<div class="footer">
   <div class="large-12 columns">
     <hr>
     <div class="row">
       <div class="large-3 columns">
         <a href="#">ABOUT</a>
       </div>
       <div class="large-3 columns">
         <a href="#">CONTACT</a>
       </div>
       <div class="large-3 columns">
          <a href="#">PARTNER WITH US</a>
       </div>
     </div>
   </div>
 </footer>
