<% if @user %>
  <header class="clearfix">
  <div class="row">
    <div class="small-2 large-4 columns logo">
      <img src="/images/logo/select-my-store-logo.jpg"/>
    </div>

    <span><%= @user.username %></span>
  
    <form method="post" action="/sign_out">
     <div class="buttons">
       <input type="submit" value="Logout" class="button tiny" />
     </div>
    </form>
    <div class="small-2 large-4 columns media">
      <span>a</span>
      <span>b</span>
      <span>c</span>
    </div>
  </div>
</header>
<% else %>
  <header class="clearfix">
  <div class="row" id="header">
    <div class="small-2 large-4 columns logo">
     <img src="/images/logo/select-my-store-logo.jpg"/>
    </div>
    <div class="small-2 large-4 columns login">
      <form method="post" action="/sign_in">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
        <div class="buttons">
          <input type="submit" value="Login" class="button tiny" />
          <a href="#" data-reveal-id="myModal" class="button tiny">Sign Up</a>
        </div>
      </form>
    </div>
    <div class="small-2 large-4 columns media">
      <span>a</span>
      <span>b</span>
      <span>c</span>
    </div>
  </div>
</header>
<% end %>
