<div id="myModal" class="reveal-modal" data-reveal>
  <div class="panel">
    <form class="sign-up" method="post" action="/design/sign_in">
      <input type="text" name="username" />
      <input type="password" name="password" />
    </form>
  </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
