
<h1 align="center"><strong>Who are you shopping for?</strong> </h1>

<br>
<br>
<form align="center" method="post" action="/qualities">

    <div class="row">
        <div class="large-4 columns">
            <input type="text" name="age" placeholder="How old are they?"/></br>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <input type="radio" name="sex" value="male" id="male"><label for="male">Male</label>
            <input type="radio" name="sex" value="female" id="female"><label for="male">Female</label>
        </div>
    </div>
<br>
<br>
 <input class="small button" type="submit" >
</form>
