<ul class="example-orbit" data-orbit>
  <li>
    <img src="/images/slider/sms-slider3.jpg" />
  </li>
  <li class="active">
    <img src="/images/slider/sms-slider1.jpg" alt="slide 2" />
  </li>
  <li>
    <img src="/images/slider/sms-slider2.jpg" alt="slide 3" />
  </li>
</ul>
