
<h1 align="center"><strong>What kind of style do they have?</strong> </h1>

<br>
<br>
<div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns">
    <ul id="selectedQualities" class="button-group [radius round]">
    </ul>
  </div>
  <div class="small-12 large-2 columns">...</div>
</div>


<div class="row">
  x
</div>

<div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns">
    <ul id="qualityPool" class="button-group [radius round]">
      <li><a href="#" class="button">Sassy 1</a></li>
      <li><a href="#" class="button">Sheek 2</a></li>
      <li><a href="#" class="button">Playful 3</a></li>
      <li><a href="#" class="button">Versitile 4</a></li>
    </ul>
  </div>
  <div class="small-12 large-2 columns">...</div>
</div>


