<div align="center">
<h1 align="center"><strong>Shopping Matches</strong> </h1>
</div>
<!-- 
<div class="large-3 large-5 columns">
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/americanapparel-logo.jpg" width="200" height="200">
             <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class ="small-6 large-centered columns">
                <img src="/images/storelogos/haven-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
            <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
     <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
             <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
</div> -->

<br>
<div class="row">
  <div class="small-3 small-centered columns"> 
    <div class="small- 11 columns"><img src="/images/storelogos/haven-logo.jpg" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Urban Outfitters</strong></p>
                <p><strong>www.UrbanOutfitters.com</strong></p>
                <p>This is a mother fucking description.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-3 small-centered columns"> 
    <div class="small- 4 columns"><img src="/images/storelogos/sugarhigh-logo.jpg" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Urban Outfitters</strong></p>
                <p><strong>www.UrbanOutfitters.com</strong></p>
                <p>This is a mother fucking description.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-3 small-centered columns"> 
    <div class="small- 4 columns"><img src="/images/storelogos/topshop-logo.jpg" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Urban Outfitters</strong></p>
                <p><strong>www.UrbanOutfitters.com</strong></p>
                <p>This is a mother fucking description.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-3 small-centered columns"> 
    <div class="small- 4 columns"><img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Urban Outfitters</strong></p>
                <p><strong>www.UrbanOutfitters.com</strong></p>
                <p>This is a mother fucking description.</p></div>
                </div>
</div>

<br>




<!-- <div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div>

<div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/sugarhigh-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div>

<div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/topshop-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div> -->
<!-- <div align="center">
<h1 align="center"><strong>Shopping Matches</strong> </h1>
</div>

<div class="large-3 large-5 columns">
    <div class="row">

        <div class="large-0">
        <div class=
            <img src="/images/storelogos/americanapparel-logo.jpg" width="200" height="200">
            <p> these are words and shit </p>
            <br>
            <img src="/images/rock.png" width="200" height="200">
              <p> these are words and shit </p>
            <br>
            <img src="/images/scissors.png" width="200" height="200">
              <p> these are words and shit </p>
        </div>
    </div>
</div> -->