<div align="center">
<h1 align="center"><strong>Shopping Matches</strong> </h1>
</div>

<div class="large-1 large-2 columns">
    <div class="row">

        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/americanapparel-logo.jpg" width="225" height="225">
            <br>
            <img src="/images/rock.png" width="225" height="225">
            <br>
            <img src="/images/scissors.png" width="225" height="225">
        </div>
    </div>
</div>