<header class="clearfix">
  <div class="row" id="header">
    <div class="small-2 large-4 columns logo">
     <img src="/images/logo/select-my-store-logo.jpg"/>
    </div>
    <div class="small-2 large-4 columns login">
      <form method="post" action="/design">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
      </form>
    </div>
    <div class="small-2 large-4 columns media">
      <span>a</span>
      <span>b</span>
      <span>c</span>
    </div>
  </div>
</header>

